.screen-tadiao-taji-old {
  // padding: 10px;
  font-size: 14px;
  // margin: 0px 0px 0px 180px;
  padding: 25px 0px 0px 20px;
  // border-radius: 10px;
  // background-color: rgba(0, 0, 0, 0.1);
  // border: 1px solid rgba(0, 0, 0, 0.1);
  // height: 290px;
  position: relative;
  .dot-page-list {
    text-align: center;
    margin: 0 auto;
    width: 130px;
    padding-top: 5px;
    pointer-events: auto;
    .marker {
      width: 6px;
      display: inline-block;
      height: 6px;
      border: 0px solid #088;
      border-radius: 100px;
      background-color: #088;
      cursor: pointer;
      // float: left;
      margin: 2px;
      // opacity: 0.5;
    }

    .marker_white {
      width: 6px;
      display: inline-block;
      height: 6px;
      border: 0px solid #fff;
      border-radius: 100px;
      background-color: #fff;
      cursor: pointer;
      // float: left;
      margin: 2px;
    }
  }

  .noTJTdTip {
    line-height: 100px;
    text-align: left;
    font-size: 18px;
    color: #aaaaaa;
    text-align: center;
  }

  .bg-img {
    position: absolute;
    // height: 600px;
    // width: 600px;
    z-index: 0;
    left: 0px;
    top: 0px;
    text-align: center;
    top: 0px;

    /*-1 可以当背景*/
    img {
      // width: 300px;
      // opacity: 0.2;
      // filter: alpha(opacity=20);
      /* 针对 IE8 以及更早的版本 */
    }
  }

  .title {
    color: #f1f506;
    font-size: 16px;
    text-align: left !important;

    // background-color: #757373;
    span {
      background-color: #eca198;
      padding: 3px 5px 3px 5px;
      color: #115288;
      border-radius: 5px;
      font-weight: 600;
    }
  }

  .label {
    color: #e78163 !important;
  }

  .grid-content {
    // color: #ffcc00;
    font-weight: 600;
    line-height: 1.3rem;
  }

  .ZhenchangColor {
    color: #67c23a;
  }

  .BaojinColor {
    color: #ff0000;
  }

  .YujinColor {
    color: #f1f506;
  }

  .NodataColor {
    color: #ffffff;
  }
}
