.screen-taji-area {
  // background-image: url(/static/screen/red/tadiao_bg.png);
  // background-repeat: no-repeat;
  // height: 100%;
  // background-position: 0% 40%;

  position: absolute;
  top:0px;
  width: 100%;
}
