.screen-tasks {
  position: absolute;
  top: 0px;
  padding: 20px 0px 10px 0px;

  .task-item:not(:last-child) {
    border-bottom: 1px solid #705942;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }

  .task-item:not(:first-child) {
    // margin-top: 5px;
  }

  .task-item {
    float: left;

    // margin-bottom: 10px;
    .task-img {
      width: 130px;
      height: 87px;
    }

    .task-left {
      float: left;
      width: 160px;
      height: 105px;
      line-height: 105px;
      text-align: center;
      padding-top: 5px;
    }

    .task-right {
      float: left;
      width: 420px;

      .task-detail1 {
        width: 100%;
        float: left;
        position: relative;

        .task-title {
          float: left;
          font-size: 16px;
          width: 310px;
          overflow: hidden;
          height: 66px;
          line-height: 22px;
          color: #F9AF20;
          font-weight: 400;
        }

        .task-status {
          float: right;
          text-align: center;
          width: 80px;

          span {
            font-size: 12px;

            border-radius: 30px;
            font-weight: 800;
            padding: 3px 10px;
          }

          .node2 {
            background-color: #FF0000;
          }
          .node3 {
            background-color: #FFCC00;
            color: #000000
          }
          .node5 {
            background-color: green;
            color: #FFFFFF
          }
          .node1 {
            background-color: gray;
            color: #000000
          }
        }
      }

      .task-detail2 {
        width: 100%;
        float: left;
        margin-top: 15px;
        font-size: 12px;

        .task-type {
          float: left;
          width: 90px;

          span {
            // background-color: #F9AF20;
            border-radius: 30px;
            font-weight: 800;
            padding: 2px 10px;
          }
        }

        .task-creator {
          float: left;
          width: 180px;
        }

        .task-time {
          text-align: right;
          float: left;
          width: 130px;
        }
      }
    }
  }
}
