.lot-list-dialog {
  .el-dialog__body {
    padding: 10px 5px;
    color: #606266;
    font-size: 14px;
    word-break: break-all;
  }

  .el-dialog__wrapper {
    padding-left: calc(100vw - 500px) !important;
    pointer-events: none;
  }

  .tip-message {
    text-align: center;
    // height: calc(100vh - 1px);
    padding: 50px 20px;
    line-height: 20px;
    font-weight: 600;
  }

  .device_list {
    overflow: auto;
    height: calc(100vh - 240px);
    // background-color: #f2f2f2;
    // border: 1px solid #eeeeee;

    .library-item {
      margin: 5px 5px;
      border-bottom: solid 1px #FFFFFF;
      line-height: 40px;
      background-color: #efefef;
      padding: 5px;
    }

    .photo {
      width: 60px;
      height: 65px;
      // cursor: pointer;
    }

    .info-title {
      font-weight: 600;
      font-size: 14px;
      margin-left: 15px;

      // .info-title-link {
      //   cursor: pointer;
      // }

      // .info-title-link:hover {
      //   // font-style: italic;
      //   text-decoration: underline
      // }
    }

    .view-point-button {
      width: 100%;
      text-align: center;

      .icon-red-pointer {
        color: red;
        cursor: pointer;
      }
    }
  }
}
