.worktime-container {
  height: 100%;
  padding: 10px;
  background-color: #FFFFFF;

  .el-menu-item.is-active {
    /* color: #409EFF !important; */
    background-color: rgb(51, 186, 156);
    border-radius: 5px;
  }

  .el-menu {
    border-right: solid 0px #e6e6e6;
    list-style: none;
    position: relative;
    margin: 0;
    padding-left: 0;
  }

  .el-menu-item {
    height: 46px;
    line-height: 46px;
  }
}
