$box-border-color: #eca198;

%box-border {
  border: 3px solid $box-border-color;
  box-shadow: 0 0 10px #d43982; //d43982
  border-radius: 5px;
  // background-color: #000000;
  // opacity:0.5;
}

.errTips {
  min-height: 1080px;
  line-height: 1080px;
  text-align: center;
  font-size: 4rem;
  // color: #333333;
}

.screen3-index-container {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  color: #ffffff;

  overflow: hidden;
  min-width: 1920px;
  min-height: 1080px;
  max-height: 1080px;

  // background-color: #fff;
  background-image: -webkit-linear-gradient(top, #16273d, #0f1a28, #1c1c1c);
  //   background-image: url(/static/screen/red/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  // background-position: 50%;
  padding: 0px;

  .screen-header {
    z-index: 100;
    position: relative;
    margin: 0px auto;
    pointer-events: none;
  }

  .screen-main {
    z-index: 100;
    position: relative;
    pointer-events: none;
  }

  .header {
    height: 90px;

    .title-bg {
      position: absolute;
      top: 0px;
    }
  }

  .project—name {
    text-align: center;
    top: 20px;
    height: 45px;
    position: relative;
    font-size: 40px;
    font-weight: 600;
    margin: 0px auto;
    width: 100%;
    // color: #FFFFFF;
    background-image: -webkit-linear-gradient(
      bottom,
      #ffd8ce,
      #f4dddb,
      #ffffff
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .now-time {
    text-align: center;
    top: 22px;
    position: absolute;
    margin: 0px auto;
    width: 100%;
    color: white;
    width: 400px;
    right: 100px;
    z-index: 1000;
    font-size: 24px;
    font-weight: 600;
  }

  .screen-loT5 {
    // position: absolute;
    z-index: 0;
  }

  /* 门禁管理 */
  .gate-area {
    margin: 0px 0px 10px 20px;

    .title {
      text-align: center;
      position: relative;
      height: 30px;
      z-index: 1;

      .bg {
        height: 30px;
      }

      .text {
        position: relative;
        top: -27px;
        font-size: 15px;
        font-weight: 500;
      }
    }

    .main {
      @extend %box-border;
      height: 360px;
      // padding: 20px 0px 10px 0px;

      position: relative;
      top: -15px;

      .bg {
        background-color: #000000;
        opacity: 0.5;
        height: 100%;
        width: 100%;
        opacity: 0.5;
      }
    }
  }

  /* 公告栏 */
  .message-area {
    margin: 0px 0px 10px 20px;

    .title {
      text-align: center;
      position: relative;
      height: 30px;
      z-index: 1;

      .bg {
        height: 30px;
      }

      .text {
        position: relative;
        top: -27px;
        font-size: 15px;
        font-weight: 500;
      }
    }

    .main {
      @extend %box-border;
      height: 130px;
      // padding: 15px 0px 10px 0px;

      position: relative;
      top: -15px;
      overflow: hidden;

      .bg {
        background-color: #000000;
        height: 100%;
        width: 100%;
        opacity: 0.5;
      }
    }
  }

  /* 值班人员 */
  .duty-area {
    margin: 0px 0px 5px 20px;

    .title {
      text-align: center;
      position: relative;
      height: 30px;
      z-index: 1;

      .bg {
        height: 30px;
      }

      .text {
        position: relative;
        top: -27px;
        font-size: 15px;
        font-weight: 500;
      }
    }

    .main {
      @extend %box-border;
      height: 100px;
      // padding: 15px 0px 10px 0px;

      position: relative;
      top: -15px;

      .bg {
        background-color: #000000;
        height: 100%;
        width: 100%;
        opacity: 0.5;
      }
    }
  }

  /* 场内人员 */
  .inout-area {
    margin: 0px 2px 10px 20px;
    overflow: hidden;

    .title {
      text-align: center;
      position: relative;
      height: 30px;
      z-index: 1;

      .bg {
        height: 30px;
      }

      .text {
        position: relative;
        top: -27px;
        font-size: 15px;
        font-weight: 500;
      }
    }

    .main {
      @extend %box-border;
      height: 235px;
      // margin: 0px 10px 0px 0px;

      position: relative;
      top: -15px;

      .bg {
        background-color: #000000;
        height: 100%;
        width: 100%;
        opacity: 0.5;
      }
    }
  }

  /* 智慧工地 */
  .center-area {
    .main {
      // @extend %box-border;
      height: 570px;
      padding: 0px 0px 10px 0px;
      overflow: hidden;
      position: relative;
      top: -15px;
    }
  }

  /* 每日上工人数 */
  .task-area {
    margin: 0px 0px 10px 20px;

    .title {
      text-align: center;
      position: relative;
      height: 30px;
      z-index: 1;

      .bg {
        height: 30px;
      }

      .text {
        position: relative;
        top: -27px;
        font-size: 15px;
        font-weight: 500;
      }
    }

    .main {
      @extend %box-border;
      height: 370px;
      padding: 0px 0px 0px 0px;
      position: relative;
      top: -15px;

      .bg {
        background-color: #000000;
        opacity: 0.5;
        height: 100%;
        width: 100%;
      }
    }
  }

  .vedio-area {
    margin: 0px 0px 10px 20px;

    .title {
      text-align: center;
      position: relative;
      height: 30px;
      z-index: 1;

      .bg {
        height: 30px;
      }

      .text {
        position: relative;
        top: -27px;
        font-size: 15px;
        font-weight: 500;
      }
    }

    .main {
      @extend %box-border;
      height: 370px;
      padding: 0px 0px 0px 0px;
      position: relative;
      top: -15px;
      overflow: hidden;

      .bg {
        background-color: #000000;
        opacity: 0.5;
        height: 100%;
        width: 100%;
      }
    }
  }

  /* 环境检测仪 */
  .weather-area {
    margin: 0px 20px 5px 20px;

    .title {
      text-align: center;
      position: relative;
      height: 30px;
      z-index: 1;

      .bg {
        height: 30px;
      }

      .text {
        position: relative;
        top: -27px;
        font-size: 15px;
        font-weight: 500;
      }
    }

    .main {
      @extend %box-border;
      height: 160px;
      padding: 0px 0px 0px 0px;
      position: relative;
      top: -15px;

      .bg {
        background-color: #000000;
        background-image: url(/static/screen/red/earth.png);
        background-repeat: no-repeat;
        background-position: center -10px;
        height: 100%;
        width: 100%;
        opacity: 0.5;
      }
    }
  }

  /* 水表电表数据 */
  .meter-area {
    margin: 0px 20px 10px 20px;

    .title {
      text-align: center;
      position: relative;
      height: 30px;
      z-index: 1;

      .bg {
        height: 30px;
      }

      .text {
        position: relative;
        top: -27px;
        font-size: 15px;
        font-weight: 500;
      }
    }

    .main {
      @extend %box-border;
      height: 105px;
      // padding: 20px 0px 10px 0px;
      position: relative;
      top: -15px;

      .bg {
        background-color: #000000;
        height: 100%;
        width: 100%;
        opacity: 0.5;
      }

      .meter-main {
        position: absolute;
        padding: 10px 0px 10px 0px;
        top: 0px;
        width: 100%;
      }
    }
  }

  /* 塔机/升降机数据 */
  .taji-area {
    margin: 0px 20px 10px 20px;

    .title {
      text-align: center;
      position: relative;
      height: 30px;
      z-index: 1;

      .bg {
        height: 30px;
      }

      .text {
        position: relative;
        top: -27px;
        font-size: 15px;
        font-weight: 500;
      }
    }

    .main {
      @extend %box-border;
      height: 190px;
      padding: 0px 0px 0px 0px;
      position: relative;
      top: -15px;

      .bg {
        background-color: #000000;
        height: 100%;
        width: 100%;
        opacity: 0.5;
      }
    }
  }

  /* 进场车辆 */
  .vehicle-area {
    margin: 0px 20px 10px 20px;

    .title {
      text-align: center;
      position: relative;
      height: 30px;
      z-index: 1;

      .bg {
        height: 30px;
      }

      .text {
        position: relative;
        top: -27px;
        font-size: 15px;
        font-weight: 500;
      }
    }

    .main {
      @extend %box-border;
      height: 370px;
      padding: 0px 0px 0px 0px;
      position: relative;
      top: -15px;

      .bg {
        background-color: #000000;
        height: 100%;
        width: 100%;
        opacity: 0.5;
      }
    }
  }
}
