.model3d-tree-area {
  .treeDiv {
    width: 300px;
    // height: ;
    position: absolute;
    float: left;
    top: 0px;
    right: 0px;
    background-color: #FFFFFF;

    .model-tree {
      overflow-y: auto;
      overflow-x: auto;
      width: 100%;
      height: calc(100vh - 85px);
    }

    .el-tree {
      min-width: 100%;
      display: inline-block !important;
    }
  }
}
