.loT4-index {
  height: calc(100vh - 34px);
  // padding: 10px;
  background-color: #FFFFFF;

  .noModelTip {
    line-height: calc(100vh - 34px);
    text-align: center;
    font-size: 30px;
    font-weight: 600;
  }

  .divDataTadiao {
    height: 100px;
    width: 130px;
    background-color: #000000;
    position: absolute;
    left: 50px;
    top: 40px;
    border-radius: 5px;
    opacity: 0.7;
    padding: 5px;
    font-size: 12px;
    color: #eeeeee;
    z-index: 2;

    div {
      line-height: 14px;
    }
  }

  .divDataShenJiangJi {
    height: 100px;
    width: 150px;
    background-color: #000000;
    position: absolute;
    left: 50px;
    top: 150px;
    border-radius: 5px;
    opacity: 0.7;
    padding: 5px;
    font-size: 12px;
    color: #eeeeee;
    z-index: 2;

    div {
      line-height: 16px;
    }
  }

  .divDataWeather {
    height: 125px;
    width: 130px;
    background-color: #000000;
    position: absolute;
    left: 50px;
    top: 260px;
    border-radius: 5px;
    opacity: 0.7;
    padding: 5px;
    font-size: 12px;
    color: #eeeeee;
    z-index: 2;

    div {
      line-height: 16px;
    }
  }

  .divDataShuibiao {
    height: 45px;
    width: 130px;
    background-color: #000000;
    position: absolute;
    left: 50px;
    top: 395px;
    border-radius: 5px;
    opacity: 0.7;
    padding: 5px;
    font-size: 12px;
    color: #eeeeee;
    z-index: 2;
    div {
      line-height: 16px;
    }
  }

  .divDataDianbiao {
    height: 45px;
    width: 130px;
    background-color: #000000;
    position: absolute;
    left: 50px;
    top: 455px;
    border-radius: 5px;
    opacity: 0.7;
    padding: 5px;
    font-size: 12px;
    color: #eeeeee;
    z-index: 2;
    div {
      line-height: 16px;
    }
  }
}
