.index-sidebar {
  .el-tooltip {
    padding-left: 15px !important;
    padding-right: 0px !important;
  }

  .el-menu-item.is-active {
    color: #000000 !important;
    background-color: #FFFFFF !important;
    border-left: 3px solid #000000;
    opacity:0.7;
  }

}
