.dhtmlx-gant {
  .left-container {
    width: calc(100vw - 460px);
    float: left;
    height: calc(100vh - 35px);
  }
  .right-container {
    border-right: 1px solid #cecece;
    float: left;
    width: 400px;
    margin-left: 5px;
    margin-top: 5px;
    box-shadow: 0 0 5px 2px #aaa;
    position: relative;
    z-index: 2;
    height: calc(100vh - 45px);
  }

  .gantt-messages {
    list-style-type: none;
    height: 50%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 5px;
  }
  .gantt-messages > .gantt-message {
    background-color: #f4f4f4;
    box-shadow: inset 5px 0 #d69000;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 5px 0;
    padding: 8px 0 8px 10px;
  }

  .gantt-selected-info {
    border-bottom: 1px solid #cecece;
    box-sizing: border-box;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    height: 100%;
    line-height: 28px;
    padding: 10px;
    font-size: 12px;
  }
  .gantt-selected-info h2 {
    border-bottom: 1px solid #cecece;
  }
  .select-task-prompt h2 {
    color: #d9d9d9;
  }
  .toolstip_item {
    line-height: 30px;
  }
}
