.model3d-index {
  .el-tabs__content {
    padding: 0px;
  }

  

  .model3d-progress {
    position: absolute;
    color: #FFFFFF;
    float: left;
    width: 400px;
    left: 50px;
    bottom: 40px;
  }

  .el-progress__text {
    color: #FFFFFF;
  }

  #stat-div div{
    position: absolute !important;
    float: left;
    left:50px !important;
    top:100px;
  }
}
