.count-info-board {
  color: #FF0000;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  width: 535px;
  height: 200px;
  left: 10px;
  top: 10px;
  border: 2px solid #cccccc;
  border-radius: 5px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 200;

  .grid-content {
    line-height: 25px;
  }
  .el-col-6 {
    padding-left: 3px !important;
    padding-right: 3px !important;
  }

  .text-center {
    text-align: center;
  }

  .link {
    cursor: pointer;
  }
}
 @media screen and (min-width: 2047px){
    .count-info-board{
      width:700px;
      height: 300px;
    }
  }
