.screen-index-container {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  color: #FFFFFF;

  overflow: hidden;
  min-width: 1920px;
  min-height: 1080px;
  max-height: 1080px;

  background-color: #fff;
  background-image: url(/static/screen/bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  // background-position: 50%;
  padding: 0px;

  .header {
    height: 90px;
  }

  /* 门禁管理 */
  .gate-area {
    margin: 0px 0px 10px 20px;
    .title {
      text-align: center;
      position: relative;
      height: 30px;
      z-index: 1;
      .bg {
        height: 30px;
      }
      .text{
        position: relative;
        top: -27px;
        font-size: 15px;
        font-weight: 500;
      }
    }
    .main {
      border: 1px solid #5985bd;
      border-radius: 5px;
      height: 530px;
      padding: 20px 0px 10px 0px;
      
      position: relative;
      top:-15px;
    }
  }

  /* 场内人员 */
  .inout-area {
    margin: 0px 0px 10px 20px;
    .title {
      text-align: center;
      position: relative;
      height: 30px;
      z-index: 1;
      .bg {
        height: 30px;
      }
      .text{
        position: relative;
        top: -27px;
        font-size: 15px;
        font-weight: 500;
      }
    }
    .main {
      border: 1px solid #5985bd;
      border-radius: 5px;
      height: 370px;
      padding: 20px 0px 10px 0px;
      
      position: relative;
      top:-15px;
    }
  }

  /* 智慧工地 */
  .lot-area {
    margin: 20px 0px 10px 20px;
    .title {
      text-align: center;
      position: relative;
      height: 30px;
      z-index: 1;
      .bg {
        height: 30px;
      }
      .text{
        position: relative;
        top: -27px;
        font-size: 15px;
        font-weight: 500;
      }
    }
    .main {
      border: 1px solid #5985bd;
      border-radius: 5px;
      height: 510px;
      padding: 20px 0px 10px 0px;
      
      position: relative;
      top:-15px;
    }
  }
}
