.screen-duty {

  .noDutyTip {
    line-height: 70px;
    text-align: center;
    font-size: 20px;
    color: #aaaaaa;
  }

  .list-duty {
    padding-top: 5px;
    padding-left: 25px;
  }

  .item-duty {
    text-align: left;
    line-height: 28px;
    color: #E78163;
    font-weight: 600;

    .person-line {
      width: 340px;
      float: left;

      .person-index {
        float: left;
        width: 50px;
        ;
      }

      .person-zhibanren {
        float: left;
        width: 80px;
        ;
      }

      .person-name {
        float: left;
        width: 80px;
        ;
      }

      .person-mobile {
        float: left;
        width: 100px;
      }
    }

  }

}
