.position-picture-save-dialog {
  .el-dialog__header {
    display: none;
  } 
  .el-dialog__body {
    padding: 10px 10px;
  }
  .oper-area {
      text-align: right;
      padding: 10px;
  }

  .position-picture-save-area {
    height: 600px;
    position: relative;
    .viewer-positon-picture-save{
      width:100%;
      height:400px;
    }
  }


}
