.index-huiyi {
  margin-right: 20px;
  margin-top: 10px;
  
  /*计划类型的提示*/
  .JHLX_TIP {
    color:#FFFFFF;
    font-size: 12px;
  }

  .el-form-item {
    margin-bottom: 10px;
  }

  .el-form-item__label {
    color: #ffffff;
  }

  .el-button--success {
    color: #fff;
    background-color: #29bb9c;
    border-color: #29bb9c;
  }

  .el-form-item__error {
    color: yellow;
    font-size: 12px;
    line-height: 1;
    padding-top: 0px;
    position: absolute;
    top: 100%;
    left: 0;
  }

  .el-date-editor .el-range-separator {
    width: 15%;
  }
}
