.upload-from {
  padding: 20px;
  height: 500px;
  overflow-y: auto;

  .el-upload-list--picture-card .el-upload-list__item {
    width: 85px;
    height: 85px;
    margin: 0 18px 18px 0;
  }

  .el-upload--picture-card {
    width: 85px;
    height: 85px;
    line-height: 85px;
  }
}
