.person-face-person-detail-form {
  .el-form-item {
    margin-bottom: 0px;
  }

  .el-form-item--medium .el-form-item__content,
  .el-form-item--medium .el-form-item__label {
    line-height: 30px;
  }

  .info-compare-2 {
    text-align: center;
    color: green;
    font-size:14px;
  }

  .info-compare-3 {
    text-align: center;
    color: red;
    font-size:14px;
  }
}
