.inout-from {
  // .inout-form-dialog {
  //   left: 2vw;

  //   .el-dialog {
  //     background-color: rgba(0, 0, 0, 0.9);
  //     margin-left: 100px;
  //   }
  // }
  .el-form-item {
    margin-bottom: 10px;
  }

  .el-form-item__error {
    color: #f56c6c;
    font-size: 12px;
    line-height: 1;
    padding-top: 0px;
    position: absolute;
    top: 100%;
    left: 0;
  }
  .table-title{
    font-weight: 600;
    margin-left: 10px;
  }
  .table-total{
    font-weight: 600;
    font-size:14px;
    margin-left: 20px;
  }
}
