.nowin-dialog {
  .personItemList {
    height: 420px;
    overflow-y: auto;
    font-size: 12px;
    position: relative;
    clear: both;

    .btnName {
      padding: 0px 0px;
      border-bottom: 1px dashed #66b1ff
    }

    .group-item {
      clear: both;
      display: block;
    }

    .group-name {
      display: block;
      font-size: 14px;
      font-weight: 500;
      padding: 2px;
      border-bottom: 1px #eeeeee dashed;
      margin-top: 5px;
      margin-bottom: 5px;
      // line-height: 30px;
    }

    .group-content {
      clear: both;
      height: auto;
      padding-bottom: 10px;
      // text-align: center
    }

    .personItem {
      float: left;
      width: 140px;
      height: 210px;
      margin: 0px auto;
      padding-left: 20px;
      margin-top: 5px;

      div {
        padding-top: 2px;
        padding-bottom: 2px;
      }

      // position: relative;
    }
  }

  .el-form-item {
    margin-bottom: 10px;
  }

  .el-form-item__error {
    color: #f56c6c;
    font-size: 12px;
    line-height: 1;
    padding-top: 0px;
    position: absolute;
    top: 100%;
    left: 0;
  }

  .table-title {
    font-weight: 600;
    margin-left: 10px;
  }

  .table-total {
    font-size: 14px;
    font-weight: 600;
    margin-left: 20px;
  }

  //未识别
  .weishibie {
    color: #E6A23C
  }

  //识别率低
  .shibielvdi {
    color: #F56C6C;
    font-weight: 500;
    font-size: 18px;
  }
}
