.person-health-dialog {
  .el-radio__input.is-checked+.el-radio__label {
    color: #000000;
    font-weight: 600;
  }

  .el-form-item--medium .el-form-item__content,
  .el-form-item--medium .el-form-item__label {
    line-height: 20px;
  }

  .el-form-item {
    margin-bottom: 20px;
  }

  .UseTrafficForm {
    .el-form-item__label {
      line-height: 30px;
    }

    .el-form-item {
      margin-bottom: 5px;
    }
  }

  .el-table--mini td,
  .el-table--mini th {
    padding: 2px 0;
  }
}
