.person-quit-left-form {
  .el-form-item__label {
    font-size: 12px;
  }

  .el-form-item {
    margin-bottom: 10px;
  }

  .el-form-item--medium .el-form-item__content,
  .el-form-item--medium .el-form-item__label {
    line-height: 22px;
  }

  .el-radio__input.is-checked+.el-radio__label {
    color: #2cbc9d;
  }

  .el-radio__label {
    font-size: 12px;
    padding-left: 10px;
  }

  .el-radio+.el-radio {
    margin-left: 10px;
  }

  .el-form-item__error{
    padding-top: 0px;
  }
}
