.person-list-from {
  .el-form-item {
    margin-bottom: 10px;
  }

  .el-form-item__error {
    color: #f56c6c;
    font-size: 12px;
    line-height: 1;
    padding-top: 0px;
    position: absolute;
    top: 100%;
    left: 0;
  }

  .table-title {
    font-weight: 600;
    margin-left: 10px;
  }

  .table-total {
    font-weight: 600;
    font-size: 14px;
    margin-left: 20px;
  }

  .statu0 {
    color: #67C23A
  }
  .statu2 {
    color: #E6A23C
  }
  .statu4 {
    color: #E6A23C
  }
  .statu10 {
    color: #EEEEEE
  }
  i{
    color: #c7c7c7;
  }
  .redicon{
    color: #29d2a4;
  }
  .el-table th,.el-table td{
    text-align: center;
    border:none!important;
  }
  body .el-table th.gutter{
    display: table-cell!important;
  }
  .el-table .cell {
    padding: 0!important;
  }

  .btn-health{
    padding: 5px 2px;
  }
}
