.person-inout-detail-dialog{
    .person-inout-detail-form{
        height: 500px;
        overflow-y: auto;
    }

    .el-timeline-item__timestamp.is-top {
        margin-bottom: 8px;
        padding-top: 4px;
        font-weight: 500;
        font-size: 16px;
    }
}