.person-info-dialog {
  .el-message-box__content {
    padding: 0px;
  }

  .el-tabs__item {
    padding: 0 10px;
    height: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 30px;
    display: inline-block;
    list-style: none;
    font-size: 12px;
    font-weight: 500;
    // color: #303133;
    position: relative;
  }

  .div-tab-item {
    height: 380px;
    overflow-y: auto;
  }
  .div-tab-item-pdf {
    height: 380px;
    overflow: none;
    iframe{
      overflow: none;
      height: 100%;
    }
  }

  .persion-info-txt {
    font-size: 12px;
    font-weight: 500;

    .el-col {
      padding: 0px;
      line-height: 24px;
    }

    .el-form-item__content {
      margin-left: 40px !important;
      // width: 40px;
    }

  }

  //资料不存在提示
  .no-datum {
    text-align: center;
    padding: 20px;
    line-height: 200px;
    color: #aaaaaa;
  }

  .no-pic {
    text-align: center;
    padding: 20px;
    line-height: 100px;
    color: #aaaaaa;
  }
}
