.person-health-day-log-dialog {

    .person-health-from{
        padding:0px 40px;
        min-height:300px;
        max-height:500px;
        overflow-y: auto;
        .title{
            font-size:15px;
            font-weight: 600;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .content{
            font-size:14px;
            text-indent:25px;
            font-weight: 400;
        }
    }
}

