.bind_bim_button {
  .el-button--success {
    color: #fff;
    background-color: #29BB9C;
    border: 1px solid #29BB9C;
    // border-radius: 0px;
  }

  .el-button--success:hover {
    color: #fff;
    background-color: #29BB9C;
    border-color: #29BB9C;
    border: 1px solid #29BB9C;
    // border-radius: 0px;
  }
}
